// classic colors
$classic-bg: #cde6d0;
$classic-red: #ed1b24;
$classic-yellow: #fef200;
$classic-lightBlue: #aae0fa;
$classic-darkblue: #0072bb;
$classic-brown: #955436;
$classic-purple :#d93a96;
$classic-green :#1fb25a;
$classic-orange :#f7941d;